<html>
<head>
    <title>My Custom Web Server</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1 class="red-heading">Welcome to the server</h1>
    
    <div>Footer</div>
    <script src="/js/index.js"></script>
</body>
</html>