<!DOCTYPE html>
<html>
   <head>
      <title>Dogs view</title>
   </head>
   <body style="background-color:black;">
      <h1 style="color:aqua">DOGS</h1>
    <p style="color:limegreen"> Hello from the dogs view!</p>
   </body>
</html>