<DOCTYPE html>
    <html>
    <head>
        <title>Rabbits view</title>
    </head>
    <body style="background-color:black;">
        <h1 style="color:aqua">Rabbits</h1>
        <p style="color:limegreen"> Hello from the rabbits view!</p>
    </body>
</html>
