<DOCTYPE html>
<html>
<head>
    <title>Turtles view</title>
</head>
<body style="background-color:black;">
    <h1 style="color:aqua">Turtles</h1>
    <p style="color:limegreen"> Hello from the turtles view!</p>
</body>
</html>